{% extends 'base.html.twig' %}

{% block body %}
    <h1>Statistiques Terrain</h1>

    <div id="piechart" style="width: 100%; height: 500px;"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Terrain');
            data.addColumn('number', 'Nombre de terrains');

            {% for result in results %}
            data.addRow(['{{ result.value }}', {{ result.valeur }}]);
            {% endfor %}

            var options = {
                title: 'Répartition des terrains',
                is3D: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>

{% endblock %}