{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h1><title>Creation d'un categorie</title></h1>

    <h1 style="margin-bottom: 20px">Creation d'un categorie</h1>

    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('app_categorie_index') }}" class="btn btn-secondary" style="margin-bottom: 200px">Retour</a>

{% endblock %}
